.general-button {
  background-color: #0a84ff;
  border: none;
  width: 100%;
  height: 3.125rem;
  border-radius: 0.4375rem;
  color: white;
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;

  &:disabled {
    background-color: var(--general-grey-color);
    border-color: var(--disabled-text-color);
    opacity: 0.7;

    &:hover {
      background-color: var(--general-grey-color);
      border-color: var(--disabled-text-color);
    }
  }

  &:hover {
    background-color: #59a0e7;
    border-color: #59a0e7;
  }
}
