.orgLevel__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 2rem;
  background-color: white;
  position: relative;

  @media (min-width: 1430px) {
    background-color: white;
    width: var(--desktop-width);
    height: var(--desktop-height);
    min-height: 400px;
    border-radius: 1.875rem;
    box-shadow: 0.125rem 0.125rem 1rem 0 #0b1a371a;
    box-shadow: -0.125rem -0.125rem 1rem 0 #0b1a371a;

    &::before {
      content: url("@assets/report/leftCow.svg");
      position: fixed;
      left: 0;
      top: 0;
      z-index: 3;
      width: 20vw;
    }

    &::after {
      content: url("@assets/report/rightCow.svg");
      position: fixed;
      right: 0;
      bottom: 0;
    }
  }

  .orgLevel__header {
    margin-top: auto;
    margin-bottom: 3rem;

    .orgLevel__title {
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.93rem;
    }

    .orgLevel__subTitle {
      margin-top: 0.5rem;
      font-weight: 400;
      font-size: 0.9375rem;
      line-height: 1.375rem;
    }
  }

  .orgLevel__select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: 1430px) {
      width: 80%;
    }

    .orgLevel__text {
      align-self: flex-start;
      font-size: 1.1rem;
      font-weight: 500;
      color: #3b4166;
      padding-right: 0.5rem;
    }

    .orgLevel__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #f9fafb;
      padding: 0 1.25rem;
      width: 100%;
      border-radius: 0.625rem;
      position: relative;

      & > *:not(:last-child) {
        border-bottom: 0.6px #e3e3e380 solid;
      }

      .orgLevel__input {
        cursor: pointer;
        display: inline-flex;
        width: 100%;
        height: 3rem;
        align-items: center;
        justify-content: space-between;

        .orgLevel__label {
          font-size: 1.0625rem;
          color: #5e7393;
          font-weight: 500;
          line-height: 1.5606rem;
          text-align: right;
          width: max-content;
          max-width: 100%;
        }

        .orgLevel__val {
          display: inline-flex;
          align-items: center;

          &--txt {
            font-size: 1rem;
            color: #3b4c66;
            font-weight: 500;
          }
        }
      }
    }
  }

  .orgLevel__spacer {
    flex-grow: 1;
    max-height: 35vh;
  }

  .orgLevel__button {
    width: 100%;

    @media (min-width: 1430px) {
      width: 80%;
    }
  }
}
