.toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-size: 1.0625rem;
    color: #5E7393;
    font-weight: 500;
    height: 3rem;
    width: 100%;
}